#message {
    font-size: 3rem;
    height: 170px;
    text-align: center;
}

#content {
    font-size: 2.5rem;
}

#answer {
    width: 7.5rem;
}

button {
    font-size: 2rem;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}